[submodule "packages/duan-core"]
	path = packages/duan-core
	url = ../duan-core.git
[submodule "packages/duan-catalog"]
	path = packages/duan-catalog
	url = ../duan-catalog.git
[submodule "packages/duan-scenario"]
	path = packages/duan-scenario
	url = ../duan-scenario.git
[submodule "packages/duan-runner"]
	path = packages/duan-runner
	url = ../duan-runner.git
[submodule "packages/duan-cli"]
	path = packages/duan-cli
	url = ../duan-cli.git
[submodule "packages/duan-editor"]
	path = packages/duan-editor
	url = ../duan-editor.git
[submodule "packages/duan-build"]
	path = packages/duan-build
	url = ../duan-build.git
[submodule "packages/duan-macros"]
	path = packages/duan-macros
	url = ../duan-macros.git
[submodule "packages/duan"]
	path = packages/duan
	url = ../duan.git
